 .banner {
   position: relative;
   width: 100%;
   min-height: 100%;
   padding: 30px;
   padding-top: 22px;
   background-color: $backgroundDark;
   @include backgroundDefault();

   &__tag {
     top: 7px;
     right: 7px;
   }

   &__content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     max-width: 292px;
     height: 248px;
   }
   &__date{
    color: $mainBackground;
   }
   &__title{
    color: $mainBackground;
   }
   &__text{
    color: $mainBackground;
   }
   &__btn{
    max-width: 121px;
   }
 }
