<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__list">
      <li class="footer___item footer___item_left">
        <a href="#" class="logo footer__logo">
          <img src="../img/logo.webp" alt="High Pass logo" class="logo__img">
        </a>
        <small class="footer__copy">
          Фотостудия High pass<sup class="reg">&reg;</sup> 2018&ndash;2020
        </small>
      </li>
      <li class="footer___item footer___item_center">
        <p class="text footer__text">
          Которая из&nbsp;моих фотографий самая любимая?
           Та, которую я&nbsp;собираюсь снять завтра.
          </p>
           <p class="footer__text">
            &copy;&nbsp;Имоджен Каннингем
        </p>
      </li>
      <li class="footer___item footer___item_right">
        @@include('../bem-blocks/_social.html')
      </li>
    </ul>
  </div>
</footer>
