 <section id="masterclass" class="masterclass">
  <div class="container masterclass__container">
    <h1 class="visually-hidden">
      High Pass
    </h1>
    <div class="banner banner-big masterclass__banner">
      <a href="#" class="tag banner-big__tag">
        #мастеркласс
      </a>
      <div class="banner-big__content">
        <span class="banner-big__span">
          Мастер-класс от Игоря Робова
        </span>
        <h3 class="title banner-big__title">
          Неоновый фотосет 2.0 7июля 20:00
        </h3>
        <a href="#" class="btn-default banner-big__btn">
          Узнать больше
        </a>
      </div>
    </div><!--/banner-->
    <div class="masterclass__right">
      <h2 class="title masterclass__title">
        Работы участников предыдущего мастер-класса
      </h2>
      <ul class="masterclass__list">
        <li class="masterclass__item">
          <img src="img/masterclass-img-big.webp" alt="Девушка на зеленом фоне" class="masterclass__img">
        </li>
        <li class="masterclass__item">
          <img src="img/masterclass-img-1.webp" alt="Девушка на оранжево-голубом фоне"
          class="masterclass__img">
        </li>
        <li class="masterclass__item">
          <img src="img/masterclass-img-2.webp" alt="Девушка на разноцветном фоне-"
          class="masterclass__img">
        </li>
      </ul>
    </div>

  </div>
 </section>
