 <section id="projects" class="projects">
  <div class="container">
    <h2 class="title projects__title">
      Наши проекты
    </h2>
    <ul class="projects__list">
      <li class="projects__item">
        <div class="card projects__card">
          <div class="card__top">
            <a href="#" class="tag card__tag">
              #пейзаж
            </a>
            <img src="img/projects-image-1.webp" alt="пейзаж" class="card__img">
          </div>
          <div class="card__bottom">
            <p class="text card__text">
              Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...
            </p>
            <span class="card__date">
              16&nbsp;июня
            </span>
          </div>
        </div>
      </li>
      <li class="projects__item">
        <div class="card projects__card">
          <div class="card__top">
            <a href="#" class="tag card__tag">
              #портрет
            </a>
            <img src="img/projects-image-2.webp" alt="портрет" class="card__img">
          </div>
            <div class="card__bottom">
              <p class="text card__text">
                В&nbsp;своём стремлении улучшить опыт мы&nbsp;упускаем, что явные...
              </p>
              <span class="card__date">
                28&nbsp;мая
              </span>
            </div>
        </div>
      </li>
      <li class="projects__item">
        <div class="card projects__card">
          <div class="card__top">
            <a href="#" class="tag card__tag">
              #предмет
            </a>
            <img src="img/projects-image-3.webp" alt="предмет" class="card__img">
          </div>
            <div class="card__bottom">
              <p class="text card__text">
                Равным образом, высокое качество позиционных...
              </p>
              <span class="card__date">
                14&nbsp;мая
              </span>
            </div>
        </div>
      </li>
      <li class="projects__item">

      </li>
      <li class="projects__item">

      </li>
      <li class="projects__item">
        <div class="card  projects__card projects__card_big">
          <div class="card__top">
            <a href="#" class="tag card__tag">
              #ретушь
            </a>
            <img src="img/projects-image-6.webp" alt="ретушь" class="card__img">
          </div>
          <div class="card__bottom">
            <p class="text card__text">
              Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...
            </p>
            <span class="card__date">
              9&nbsp;марта
            </span>
          </div>
        </div>
      </li>
      <li class="projects__item">
        <div class="card  projects__card projects__card_big">
          <div class="card__top">
            <a href="#" class="tag card__tag">
              #портрет
            </a>
            <img src="img/projects-image-7.webp" alt="портрет" class="card__img">
          </div>
          <div class="card__bottom">
            <p class="text card__text">
              С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...
            </p>
            <span class="card__date">
              1&nbsp;марта
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
 </section>
