<section id="projects" class="projects">
  <div class="container">
    <h2 class="title projects__title">
      Наши проекты
    </h2>
    <ul class="projects__list">
      <li class="projects__item">
        @@include("../bem-blocks/_card.html",{
          "href":"#",
          "tag":"#пейзаж",
          "img":"img/projects-image-1.webp",
          "text":"Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...",
          "date":"16&nbsp;июня"
      })

      </li>
      <li class="projects__item">
        @@include("../bem-blocks/_card.html",{
          "href":"#",
          "tag":"#портрет",
          "img":"img/projects-image-2.webp",
          "text":"В&nbsp;своём стремлении улучшить опыт мы <br>упускаем,&nbsp;что&nbsp;явные...",
          "date":"28&nbsp;мая"
      })
      </li>
      <li class="projects__item">
        @@include("../bem-blocks/_card.html",{
          "href":"#",
          "tag":"#предмет",
          "img":"img/projects-image-3.webp",
          "text":"Равным образом, высокое качество позиционных...",
          "date":"14&nbsp;мая"
      })

      </li>
      <li class="projects__item">
        <div class="banner projects__banner projects__banner_1">
          <a href="#" class="tag banner__tag">
            #fuji
          </a>
          <div class="banner__content">
            <div class="banner__top">
              <span class="date banner__date">
                9&nbsp;апреля
              </span>
              <h3 class="title banner__title">
                Cемантический разбор
              </h3>
              <p class="text banner__text">
                В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы
              </p>
            </div>

            <a href="#" class="btn btn-outline banner__btn">
              О&nbsp;проекте
            </a>
          </div>
        </div>
      </li>
      <li class="projects__item">
        <div class="banner projects__banner projects__banner_2">
          <a href="#" class="tag banner__tag">
            #проектзабвение
          </a>
          <div class="banner__content">
            <div class="banner__top">
              <span class="date banner__date">
                20&nbsp;марта
              </span>
              <h3 class="title banner__title">
                Забвение
              </h3>
              <p class="text banner__text">
                Играет важную роль в&nbsp;формировании глубокомысленных рассуждений
              </p>
            </div>

            <a href="#" class="btn btn-outline banner__btn">
              О&nbsp;проекте
            </a>
          </div>
        </div>
      </li>
      <li class="projects__item">
        @@include("../bem-blocks/_card.html",{
          "href":"#",
          "tag":"#ретушь",
          "img":"img/projects-image-6.webp",
          "text":"              Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...",
          "date":"9&nbsp;марта"
      })

      </li>
      <li class="projects__item">
        @@include("../bem-blocks/_card.html",{
          "href":"#",
          "tag":"#портрет",
          "img":"img/projects-image-7.webp",
          "text":"С учётом сложившейся международной обстановки, новая модель организационной...",
          "date":"1&nbsp;марта"
      })

      </li>
    </ul>
  </div>
</section>
