<section id="projects" class="projects">
  <div class="container">
    <h2 class="title projects__title">
      Наши проекты
    </h2>
    <ul class="projects__list">
      <li class="projects__item">
        <div class="card projects__card">
          <div class="card__header">
            <a href="#" class="tag card__tag">
              #пейзаж
            </a>
            <img src="img/projects-image-1.webp" alt="пейзаж" class="card__img">
          </div>
          <div class="card__body">
            <p class="text card__text">
              Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...
            </p>
          </div>
          <div class="card__footer">
            <span class="card__date">
              16&nbsp;июня
            </span>
          </div>
        </div><!--/card-->

      </li>
      <li class="projects__item">
        <div class="card projects__card">
          <div class="card__header">
            <a href="#" class="tag card__tag">
              #портрет
            </a>
            <img src="img/projects-image-2.webp" alt="портрет" class="card__img">
          </div>
          <div class="card__body">
            <p class="text card__text">
              В&nbsp;своём стремлении улучшить опыт мы&nbsp;упускаем, что явные...
            </p>
          </div>
          <div class="card__footer">
            <span class="card__date">
              28&nbsp;мая
            </span>
          </div>
        </div>

      </li>
      <li class="projects__item">
        <div class="card projects__card">
          <div class="card__header">
            <a href="#" class="tag card__tag">
              #предмет
            </a>
            <img src="img/projects-image-3.webp" alt="предмет" class="card__img">
          </div>
          <div class="card__body">
            <p class="text card__text">
              Равным образом, высокое качество позиционных...
            </p>
          </div>
          <div class="card__footer">
            <span class="card__date">
              14&nbsp;мая
            </span>
          </div>
        </div>

      </li>
      <li class="projects__item">
        <div class="banner projects__banner projects__banner_1">
          <a href="#" class="tag banner__tag">
            #fuji
          </a>
          <div class="banner__content">
            <div class="banner__top">
              <span class="date banner__date">
                9&nbsp;апреля
              </span>
              <h3 class="title banner__title">
                Cемантический разбор
              </h3>
              <p class="text banner__text">
                В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы
              </p>
            </div>

            <a href="#" class="btn btn-outline banner__btn">
              О&nbsp;проекте
            </a>
          </div>
        </div>
      </li>
      <li class="projects__item">
        <div class="banner projects__banner projects__banner_2">
          <a href="#" class="tag banner__tag">
            #проектзабвение
          </a>
          <div class="banner__content">
            <div class="banner__top">
              <span class="date banner__date">
                20&nbsp;марта
              </span>
              <h3 class="title banner__title">
                Забвение
              </h3>
              <p class="text banner__text">
                Играет важную роль в&nbsp;формировании глубокомысленных рассуждений
              </p>
            </div>

            <a href="#" class="btn btn-outline banner__btn">
              О&nbsp;проекте
            </a>
          </div>
        </div>
      </li>
      <li class="projects__item">
        <div class="card projects__card projects__card_big">
          <div class="card__header">
            <a href="#" class="tag card__tag">
              #ретушь
            </a>
            <img src="img/projects-image-6.webp" alt="ретушь" class="card__img">
          </div>
          <div class="card__body">
            <p class="text card__text">
              Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...
            </p>
          </div>
          <div class="card__footer">
            <span class="card__date">
              9&nbsp;марта
            </span>
          </div>
        </div>

      </li>
      <li class="projects__item">
        <div class="card projects__card projects__card_big">
          <div class="card__header">
            <a href="#" class="tag card__tag">
              #портрет
            </a>
            <img src="img/projects-image-7.webp" alt="портрет" class="card__img">
          </div>
          <div class="card__body">
            <p class="text card__text">
              С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...
            </p>
          </div>
          <div class="card__footer">
            <span class="card__date">
              1&nbsp;марта
            </span>
          </div>
        </div>

      </li>
    </ul>
  </div>
</section>
