 .about {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: $backgroundDark;
  &__container  {
    display: flex;
    gap: $gap;
  }
  &__title  {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: $mainBackground;
  }
  &__text {
    line-height: 28px;
    color: $socialColor;
  }
  &__right  {
    padding-top: 40px;
  }
 }
