 .about {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: $backgroundDark;
 &__list  {
  display: flex;
  gap: $gap;
  @include listReset();
 }

 &__item  {
  width: calc((100% - $gap) / 2);
 }
  &__title  {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: $mainBackground;
  }
  &__text {
    line-height: 28px;
    color: $socialColor;
  }

  &__img  {
    margin-bottom: 25px;
  }


 }
