.contacts {
  padding-top: 68px;
  padding-bottom: 69px;

  &__title {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 700;
    color: $backgroundDark;
  }

  &__list {
    display: flex;
    gap: $gap;
    @include listReset
  }

  &__item_left  {
    width: 850px;
  }

  &__item_right {
    max-width: 410px;
  }

  &__subtitle {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: $backgroundDark;
  }

  &__text {
    margin-bottom: 14px;
    line-height: 22px;
    color: $dateColor;
  }

}
