<form method="post" action="https://jsonplaceholder.typicode.com/posts" id="@@id" class="contact-form">
  <input class="contact-form__input" type="text" name="username" id="name" placeholder="Имя">
  <input class="contact-form__input" type="email" name="email" id="useremail" placeholder="Email">
  <textarea class="contact-form__textarea" name="message" id="usermessage" placeholder="Комментарий"></textarea>
  <button class="btn-default contact-form__btn" type="submit">
    Отправить
  </button>
  </form>
